@layer components {
  :where([data-control-family="alert"][data-slot="root"]) {
    --cui-alert-radius: var(--radius-lg);
    --cui-alert-background: var(--card);
    --cui-alert-border-color: var(--border);
    --cui-alert-shadow: none;
    --_alert-foreground: var(--card-foreground);
    --_alert-description-color: var(--muted-foreground);
    row-gap: calc(var(--spacing) * 0.5);
    padding: calc(var(--spacing) * 3) calc(var(--spacing) * 4);
    border: 1px solid var(--cui-alert-border-color);
    border-radius: var(--cui-alert-radius);
    background: var(--cui-alert-background);
    box-shadow: var(--cui-alert-shadow);
    color: var(--_alert-foreground);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }

  :where([data-control-family="alert"][data-slot="root"][data-variant="destructive"]) {
    --_alert-foreground: var(--destructive-text);
    --cui-alert-border-color: oklch(from var(--destructive) l c h / 0.5);
    --_alert-description-color: oklch(from var(--destructive-text) l c h / 0.9);
  }

  :where([data-control-family="alert"][data-slot="root"]:has(> svg)) {
    column-gap: calc(var(--spacing) * 3);
  }

  :where([data-control-family="alert"][data-slot="description"]) {
    gap: calc(var(--spacing) * 1);
    color: var(--_alert-description-color);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }

  :where([data-control-family="alert"][data-slot="description"] p) {
    line-height: var(--leading-relaxed);
  }

  :where([data-control-family="alert"][data-slot="title"]) {
    min-block-size: calc(var(--spacing) * 4);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--tracking-tight);
  }

  :where([data-control-family="alert"][data-slot="root"] > svg) {
    color: currentcolor;
    translate: 0 calc(var(--spacing) * 0.5);
  }
}

@property --cui-alert-radius {
  syntax: "<length-percentage>";
  inherits: true;
  initial-value: 0px;
}

@property --cui-alert-background {
  syntax: "*";
  inherits: true;
  initial-value: transparent;
}

@property --cui-alert-border-color {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --cui-alert-shadow {
  syntax: "*";
  inherits: true;
  initial-value: none;
}
