@layer components {
  :where([data-control-family="item"][data-slot="root"]) {
    --cui-item-radius: var(--radius-lg);
    --cui-item-hover-background: transparent;
    --cui-item-hover-border-color: var(--_item-border-color);
    --cui-item-border-width: 0px;
    --cui-item-active-scale: 1;
    --_item-background: transparent;
    --_item-border-color: transparent;
    outline: var(--cui-item-border-width) solid var(--_item-border-color);
    outline-offset: calc(-1 * var(--cui-item-border-width));
    border-radius: var(--cui-item-radius);
    background: var(--_item-background);
    box-shadow: none;
    color: var(--foreground);
    transition-property: background-color, box-shadow, color, outline-color, scale;
    transition-duration: var(--duration-fast);
    transition-timing-function: var(--ease-standard);
  }

  :where([data-control-family="item"][data-slot="root"][data-variant="outline"]) {
    --_item-border-color: var(--border);
    --cui-item-border-width: 1px;
  }

  :where([data-control-family="item"][data-slot="root"][data-variant="muted"]) {
    --_item-background: oklch(from var(--muted) l c h / 0.5);
  }

  :where([data-control-family="item"][data-slot="root"]:is(a, button, [href], [role="button"]):hover) {
    outline-color: var(--cui-item-hover-border-color);
    background: var(--cui-item-hover-background);
    box-shadow: none;
  }

  :where([data-control-family="item"][data-slot="root"]:is(a, button, [href], [role="button"]):active) {
    scale: var(--cui-item-active-scale);
  }

  :where([data-control-family="item"][data-slot="footer"]) {
    font-size: var(--text-caption);
    color: var(--muted-foreground);
  }

  :where([data-control-family="item"][data-slot="description"]) {
    font-size: var(--text-sm);
    line-height: var(--leading-relaxed);
    color: var(--muted-foreground);
  }

  :where([data-control-family="item"][data-slot="title"]) {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    line-height: 1;
    color: var(--foreground);
  }

  :where([data-control-family="item"][data-slot="media"]) {
    color: var(--muted-foreground);
  }
}

@property --cui-item-radius {
  syntax: "<length-percentage>";
  inherits: true;
  initial-value: 0px;
}

@property --cui-item-hover-background {
  syntax: "*";
  inherits: true;
  initial-value: transparent;
}

@property --cui-item-hover-border-color {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --cui-item-border-width {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

@property --cui-item-active-scale {
  syntax: "<number>";
  inherits: true;
  initial-value: 1;
}
