@layer components {
  :where([data-control-family="breadcrumb"][data-slot="root"]) {
    --cui-breadcrumb-list-foreground: var(--muted-foreground);
    --cui-breadcrumb-page-foreground: var(--foreground);
  }

  :where([data-control-family="breadcrumb"][data-slot="page"]) {
    font-weight: var(--font-weight-normal);
    color: var(--cui-breadcrumb-page-foreground);
  }

  :where([data-control-family="breadcrumb"][data-slot="list"]) {
    gap: calc(var(--spacing) * 1.5);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    color: var(--cui-breadcrumb-list-foreground);
  }

  @media (width >= 40rem) {
    :where([data-control-family="breadcrumb"][data-slot="list"]) {
      gap: calc(var(--spacing) * 2.5);
    }
  }

  :where([data-control-family="breadcrumb"][data-slot="item"]) {
    gap: calc(var(--spacing) * 1.5);
  }

  :where([data-control-family="breadcrumb"][data-slot="ellipsis"]) {
    inline-size: calc(var(--spacing) * 9);
    block-size: calc(var(--spacing) * 9);
  }
}

@property --cui-breadcrumb-list-foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --cui-breadcrumb-page-foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
