@layer components {
  @media (hover: hover) {
    :where([data-control-family="button"][data-control="true"]:hover:not(:disabled, [data-disabled], [aria-disabled="true"])) {
      background-color: var(--cui-button-hover-background);
      background-image: var(--cui-button-hover-background-image);
      box-shadow: var(--cui-button-hover-shadow);
      color: var(--cui-button-hover-foreground);
    }
  }

  :where([data-control-family="button"][data-popup-open]) {
    background-color: var(--cui-button-open-background);
    color: var(--cui-button-open-foreground);
    box-shadow: var(--cui-button-open-shadow);
  }

  :where([data-control-family="button"][data-active="true"]) {
    background-color: var(--cui-button-active-background);
    box-shadow: var(--cui-button-active-shadow);
    color: var(--cui-button-active-foreground);
  }

  @media (hover: hover) {
    :where([data-control-family="button"][data-active="true"]:hover:not(:disabled, [data-disabled], [aria-disabled="true"])) {
      background-color: var(--cui-button-active-hover-background);
      color: var(--cui-button-active-foreground);
    }
  }

  @scope ([data-track="hover"]) to ([data-track]) {
    @media (hover: hover) {
      :where(
          [data-track="hover"] [data-control-family="button"][data-track-item]:hover:not([data-active="true"], [data-popup-open], :active)
        ) {
        background-color: var(--cui-button-background);
        background-image: var(--cui-button-background-image);
        box-shadow: var(--cui-button-shadow);
      }

      :where(
          [data-track="hover"] [data-control-family="button"][data-track-item][data-active="true"]:hover:not([data-popup-open], :active)
        ) {
        background-color: var(--cui-button-active-background);
      }
    }
  }

  @scope ([data-track="slide"]) to ([data-track]) {
    :where([data-track="slide"] [data-control-family="button"][data-track-item]:not([data-popup-open], :active)) {
      background-color: var(--cui-button-background);
      background-image: var(--cui-button-background-image);
      box-shadow: var(--cui-button-shadow);
    }
  }

  :where([data-control-family="button"][data-control="true"]:active:not(:disabled, [data-disabled], [aria-disabled="true"])) {
    background-color: var(--cui-button-press-background);
    box-shadow: var(--cui-button-press-shadow);
    scale: var(--cui-button-press-scale);
  }

  :where([data-control-family="button"]:is(:disabled, [data-disabled], [aria-disabled="true"])) {
    cursor: not-allowed;
    opacity: var(--disabled-opacity);
  }
}
