@layer components {
  :where([data-control-family="label"][data-slot="root"]) {
    --cui-label-root-foreground: var(--muted-foreground);
    color: var(--cui-label-root-foreground);
    font-size: var(--text-caption);
    font-weight: var(--font-weight-medium);
  }

  :where([data-control-family="field"][data-control="true"]:disabled ~ [data-control-family="label"][data-slot="root"]) {
    opacity: 70%;
  }
}

@property --cui-label-root-foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
