@layer components {
  :where([data-control-family="popup"][data-popup-kind="alert-dialog"][data-slot="content"]) {
    outline-style: none;
  }

  :where([data-control-family="popup"][data-popup-kind="hover-card"][data-slot="positioner"]) {
    outline-style: none;
  }

  :where([data-control-family="popup"][data-popup-kind="navigation-menu"][data-slot="link"]) {
    text-decoration-line: none;
  }

  :where([data-control-family="popup"][data-popup-kind="menubar"][data-slot="sub-trigger-indicator"]) {
    line-height: 1;
  }

  :where([data-control-family="popup"][data-popup-kind="rich-tooltip"][data-slot="content"]) {
    text-align: left;
  }

  :where([data-control-family="popup"][data-popup-kind="rich-tooltip"][data-slot="content"][data-starting-style]) {
    --_popup-rich-tooltip-content-opacity: 0%;
    opacity: var(--_popup-rich-tooltip-content-opacity);
  }

  :where([data-control-family="popup"][data-popup-kind="rich-tooltip"][data-slot="content"][data-ending-style]) {
    --_popup-rich-tooltip-content-opacity: 0%;
    opacity: var(--_popup-rich-tooltip-content-opacity);
  }

  :where([data-control-family="popup"][data-popup-kind="rich-tooltip"][data-slot="positioner"]) {
    outline-style: none;
  }

  :where([data-control-family="popup"][data-popup-kind="dialog"][data-slot="content"]) {
    outline-style: none;
  }

  :where([data-control-family="popup"][data-popup-kind="color-picker"][data-slot="positioner"]) {
    outline-style: none;
  }

  :where([data-control-family="popup"][data-popup-kind="context-menu"][data-slot="sub-trigger-indicator"]) {
    line-height: 1;
  }

  :where([data-control-family="button"][data-slot="root"][data-popup-part="close"][data-icon-only="true"]) {
    --_popup-button-root-close-opacity: 70%;
    opacity: var(--_popup-button-root-close-opacity);
  }

  @media (hover: hover) {
    :where([data-control-family="button"][data-slot="root"][data-popup-part="close"][data-icon-only="true"]:hover) {
      --_popup-button-root-close-opacity: 100%;
      opacity: var(--_popup-button-root-close-opacity);
    }
  }
}
